<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-1 p-2">
        <img src={{article.image}} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-11">
        <div class="card-body">
          <h5 class="card-title">{{article.title}}</h5>
          <p class="card-text">{{article.description}}</p>
          <div class="row">
            <div class="col"><b>{{article.category}}</b></div>
            <div class="col"><i class="text-success">{{article.rating.count}}</i><br>
            <b>Note : {{article.rating.rate}}</b>
            </div>
            <div class="col text-danger">
              <h4 class="text-danger">{{article.price}} $</h4>
            </div>
            <div class="col">
              <a [routerLink]="['articles',article.id]" class="btn btn-primary" >
                Voir plus...
              </a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>